// - - - - - - - - - - - - - - - - - - - - - - - - -
// Object: _book-selector
// - - - - - - - - - - - - - - - - - - - - - - - - -
.book-selector {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.book-selector-select {
  margin-bottom: rem-calc(30);
}

.book-selector-card {
  width: 100%;
  padding-left: rem-calc(27);
  padding-right: rem-calc(27);
  margin-bottom: rem-calc(15);

  &__info {
    background-color: $palette-tertiary;
    padding: rem-calc(15);
  }

  &__title {
    font-size: rem-calc(18);
    margin-bottom: 0;
  }

  &__author {
    font-size: rem-calc(16);
    font-weight: normal;
  }

  &__meta {
    background-color: $palette-primary;
    padding: rem-calc(20 15 5);

    p {
      margin-bottom: 0;
    }
  }

  &__book {
    margin: 0 auto -35px;
    display: block;
  }

  &__age {
    font-weight: bold;
    font-size: rem-calc(24);
  }
}

// Shelf Unit
.shelf-unit {
  $shelf-colour: #6f7377;

  border-bottom: 20px solid rgba($shelf-colour, 0.70);
  position: relative;
  perspective: 800px;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 6px);
    height: 33px;
    margin-left: 3px;
    left: 0;
    bottom: -3px;
    background-color: $shelf-colour;
    z-index: -1;
    transform: rotateX(50deg);
  }
}